@font-face {
  font-family: 'Neuropol';
  src: url('fonts/Neuropol\ Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Racama';
  src: url('fonts/Racama.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    background-color: #009900;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    margin: 20px;
}

h1 {
    color: white;
    font-family: 'Neuropol';
    font-size: 32px;
}

h2 {
  font-size: 24px;
  color: #024e00;
  text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.button {
    color: white;
    background-color: rgba(0, 153, 0, 0.68);
    text-decoration: none;
    padding: 12px 50px;
    margin: 20px;
    border-radius: 39px;
    width: auto;
}

.button:hover {
    background-color: #45a049;
}

.species {
    margin-bottom: 40px;
}

.species img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.map {
    height: 500px;
    width: 100%;
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0
}

:root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 2rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__image {      
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 25px;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 16px;
    margin: 0 0 .3em;
    color: #024e02;
    font-family: 'Inter';
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "Inter";
    font-size: 14px;
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: .8em;
    color: #D7BDCA;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #024e00;
    font-family: "Inter";
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  .forms {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 39px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.form_input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #024E00;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
    min-height: 45px;
    border-radius: 12px;
    background: #f2f2f2;
}

textarea {
    resize: vertical;
    border-color: #024E00;
}

input[type="file"] {
    margin-bottom: 20px;
    border-color: #024E00;
}

button {
    color: white;
    background-color: rgba(0, 153, 0, 0.68);
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 39px;
}

button:hover {
    background-color: #45a049;
}

.form_title {
    color: #024e00;
    font-family: 'Racama';
}

.forma {
    display: flex;
    justify-content: center;
    margin: 0;
}

.ul {
    list-style-type: none;
    padding: 0;
    margin: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    text-align: center;
}

.img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.strong {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.a {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: rgba(0, 153, 0, 0.68);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.a:hover {
    background-color: #45a049;
}

.ver_h1{
    color: #024e00;
    text-align: center;
    margin-bottom: 30px;
}

.ver_ul {
    list-style-type: none;
    padding: 0;
}

.ver_li {
    background: white;
    border: 1px solid #024e00;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    transition: transform 0.2s;
}

ver_li:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ver_h2 {
    color: #024e00;
}

.ver_p {
    margin: 5px 0;
}

.ver_strong {
    color: #024e00;
}

.ver_button {
    background-color: #024e00;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ver_button:hover {
    background-color: #036700;
}

.ver_a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #024e00;
    font-weight: bold;
}