<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редкие виды</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <h1>Редкие виды парка</h1>
</header>

    <ul class="ul">
    {% for specie in species %}
        <li class="li">
            {% if specie.image_path %}  <!-- Проверяем, есть ли изображение -->
                <img src="{{ url_for('static', filename=specie.image_path) }}" style="max-width: 200px; max-height: 200px;">
            {% else %}
                <span>Изображение не доступно</span>  <!-- Если изображение недоступно -->
            {% endif %}
            <strong>{{ specie.name }}</strong>: {{ specie.description }} (Место обитания в Москве: {{ specie.habitat }} - Статус: {{ specie.status }})
            <strong class="strong">(Степень краснокнижности: {{ specie.rarity }})</strong>
            <a class="a" href="{{ url_for('edit_specie', specie_id=specie.id) }}">Редактировать</a>
        </li>
    {% endfor %}
    </ul>
    <a class="a" href="{{ url_for('home') }}">Назад на главную</a>
</body>
</html>
